.product-details {
  height: 65%;
  margin-top: 2em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  .product-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
 
    .product-img{
      margin-right: 5em;
      border-radius: 20px;
    }
    #title {
      font-size: 3rem;
    }
    #description {
      font-size: 1.2rem;
      width: 50%;
    }
  }
}

.prices{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  #old-price {
    font-weight: 400;
    text-decoration: line-through;
    margin: 0;
    margin-right: .5em;
    font-size: 1.4rem;
    color: #B93131;
  }
  #price {
    margin: 0;
    font-size: 2.5rem;
  }
}

.buttons{
  margin-top: 2em;
  button{
    cursor: pointer;
    margin-right: .5em;
    padding: .5em;
    font-size: 1rem;
    text-align: center;
    transition: .6s ease-in-out;
    letter-spacing: 1px;
  }
  #add{
    background: none;
    border-radius: 8px;
    border: 2px solid #B93131;
    color: #B93131;
    &:hover{
      color: white;
      background-color: #B93131;
      letter-spacing: 1.5px;
    }
  }
  #buy{
    padding: .6em;
    border-radius: 8px;
    border: none;
    background-color: #B93131;
    color: white;
    &:hover{
      letter-spacing: 1.5px;
    }
  }
}